<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration><!--  to avoid warning in Eclipse -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.helidon" level="INFO" additivity="false">
      <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.flywaydb.core.internal.command.DbMigrate" level="INFO" additivity="false">
      <appender-ref ref="STDOUT" />
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>